
.acordeon{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: .3s;
}

.acordeon.open,
.acordeon:hover{
    background-color: rgb(226, 226, 226);
}



.acordeon .btn-acordeon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: .7rem 1.5rem;
    background-color: transparent;
    color: #fff;
    border: none;
}
.acordeon.open .btn-acordeon{
    color: black;
}

.acordeon .btn-acordeon::after{
    padding: 0;
    margin: 0;
    display: inline-block;
    content: '';
    width: 2rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/assets/img/icon.svg);
}

.acordeon.open .btn-acordeon::after{
    transform: rotate(180deg);
    color: black;
}


.acordeon .btn-acordeon:hover{
    cursor: pointer;    
    color: black;
}

.acordeon .acordeon-content{
    overflow: hidden;
    max-height: 0;
    transition: all .4s linear;
}
.acordeon.open .acordeon-content{
    height: auto;
    max-height: 500px;
    transform: all;
    color: black;
}

.lista-acordeon{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.habilidades{
    display: flex;
    flex-direction: column;
}

.habilidades h3{
    margin: 0;
    padding: 0.7rem 1.5rem;
}
.habilidades-profissionais-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.7rem 1.5rem;
}

.habilidades-profissionais-images img{
    padding: .5rem;
    max-width: 50px;
    margin-left: .5rem
}
.habilidades ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    
}
.habilidades ul li{
    margin-left: 2rem;
    padding: .5rem;
    font-weight: 400;
}
@media screen and (min-width: 768px){
    .habilidades{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .habilidades-profissionais-images{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .habilidades ul{
        display: grid;
        grid-template-columns: 1fr;
        font-weight: 400;
    }
    
    .habilidades ul li{
        margin-left: 2rem;
        padding: .5rem;
    }
}